<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAE5AviXASbQN8XyWbub0t8qy-lGYFr3SY</string>
	<key>GCM_SENDER_ID</key>
	<string>732277022211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liviso.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>livisoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>livisoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732277022211:ios:33568ed3a28e3147cff836</string>
</dict>
</plist>